* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
    font-family: arial;
}



/* HOME
-------------------------------------------------------------------------------------------------------------------------MOBILE */
/* HEADER
----------------------------------------------------------------------------------------MOBILE */
.header{
    background-image: url(../img/homepage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
header h1 {
  margin: auto;

  padding: 400px;
  text-align: center;
  font-size: 85px;
}
.button a{
  color: white;
  font-family: arial;
  text-decoration: none;
}

/* HEADER- TOUR
---------------------------------------------- */
.headertour{
    background-image: url(../img/tour.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* HEADER- MUSIC
---------------------------------------------- */
.headermusic{
    background-image: url(../img/music.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* HEADER- CONTACT
---------------------------------------------- */
.headercontact{
    background-image: url(../img/contact.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* NAV
-------------------------------------------------------------------------------------------------------------------------MOBILE */
.topnav {
    background-color: transparent;
    overflow: hidden;
    margin-right: 50px;
}
.topnav img {
    float: left;
    margin-left: 50px;
} 

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 50px;
    font-family: arial;
}
.active {
    color: #4CAF50;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    font-family: arial;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: green;
    margin-top: 50px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;

    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    color: white;
    font-family: arial;
}
.topnav a:hover {
    color: lightgreen;
    font-family: arial;
  }

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media all and (max-width: 788px){
  .topnav a{
    font-size: 14px;
  }
}

/* INTRO PAGE
-------------------------------------------------------------------------------------------------------------------------MOBILE */

.container {
    display: grid;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-template-columns: repeat(6,1fr); /* width */
}

.loops {
    grid-area:2/2/5/6;
    width: 100%;
}

.container img {
    position: center;
}

.tour {
    grid-area: 3/2/3/6;
    text-align: center;
    color: white;
    font-family: 'Old Standard TT', serif;
    font-size: 50px;
    margin: auto;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button4 {
    background-color: transparent;
    color: white;
    border: 2px solid #e7e7e7;
    grid-area: 4/3/4/5;
    margin-bottom: 130px;
    margin-left: 20px
    margin-right:20px;
}

.button4:hover {
    background-color: #3e8e41;
}

.button5 {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.button5:hover {opacity: 1}



/* ALBUM INFO
-------------------------------------------------------------------------------------------------------------------------MOBILE */

.album {
    display: grid;
    grid-template-rows: 100px 200px 200px 100px; /* height */
    grid-template-columns: repeat(6,1fr); /* width */
    background-image: url(../img/full-bloom.png);

}

.para1 {
    grid-area: 2/2/5/4;
    padding: 15px;
}
.para1 p{
    padding: 10px 5px;
}
.para1 h2 {
    text-align: center;
}
.album-img {
    grid-area: 2/4/4/6;
}

.album-img img {
    display: block;
    margin: 0 auto;
}

/* MEET THE BAND
-------------------------------------------------------------------------------------------------------------------------MOBILE */

 #body {
    height: 100vh;
    width: 100%;
}




/* Gallery
-------------------------------------------------------------------------------------------------------------------------MOBILE */



.wrapper {
    display: grid;
    grid-template-rows: 15vh 15vh 15vh 15vh; /* height */
    grid-template-columns: 33.3333% 33.3333% 33.3333%; /* width */
}

.box {
    text-align: center;
    vertical-align: middle;
    color: whitesmoke;
}

.img1 {
    background-image: url(../img/gall1.png);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/3;
    background-size: cover;
    background-position: center;
}

.img2 {
    background-image: url(../img/gall2.jpg);
    grid-area:1/2/3/3;
        background-size: cover;
    background-position: center;
}

.img3 {
    background-image: url(../img/gall3.jpg);
    grid-area:3/1/5/2;
        background-size: cover;
    background-position: center;
}

.img4 {
    background-image: url(../img/gall4.jpg);
    grid-area: 3/2/5/2;
        background-size: cover;
    background-position: center;
}

.img5 {
    background-image: url(../img/gall5.jpg);
    grid-area: 1/3/3/4;
        background-size: cover;
    background-position: center;
}
.img6 {
    background-image: url(../img/gall6.jpg);
    grid-area: 3/3/5/4;
        background-size: cover;
    background-position: center;
}


/* Subscribe
-------------------------------------------------------------------------------------------------------------------------MOBILE */

.subscription-form {
  background-image: url(../img/foot.jpg);
  background-size: cover;
  background-position: center;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
}

.subscription-form .buttonsub {
  margin-bottom: 0;
  border-radius: 0 0 0 0;
     background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.form {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}

h4{
    grid-column: 2/3;
    margin: 0 auto;
    padding: 20px;
}

p{
    grid-column: 2/3;
    padding-bottom: 20px;
}
.input-group {
    grid-column: 2/3;
    margin: 0 auto;
}

.input-group-field {
    padding: 15px 32px;
        font-size: 13px;
}

/* Footer
-------------------------------------------------------------------------------------------------------------------------MOBILE */

.footer {
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    background-image: url(../img/full-bloom.png)
}

.logofoot {
    grid-column: 1/2;
    margin: auto;
    padding: 20px;
}

.footnav {
    grid-column: 2/3;
    margin: auto;
}

footer a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

/* MEDIA QUERY HOME PAGE 
-----------------------------------------------------*/

@media all and (max-width: 450px) {
.container {
    display: grid;
    grid-template-rows: 20vh 20vh 10vh 10vh 20vh;
    grid-template-columns: repeat(6,1fr); /* width */
}
  .topnav img {
    display: none;
  }
  .topnav {
    margin-right: 10px;
  }
    .topnav a.icon {
    display: block;
    margin: 0;
    font-size: 30px;
  }
  .container img {
    grid-area: 2/1/3/7;
    margin: auto;
    padding: 15px;
  }
  .tour {
    grid-area: 3/1/4/7;
    font-size: 34px;
    margin: 0;
  }
  .button4 a{
    font-size: 10px;
    margin: auto;
    margin-bottom: 15px;
  }
  .button4 {
    background-color: green;
    border-color: none;
  }
  .album {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50vh 35vh;
  }
  .album-img{
    grid-area: 1/1/2/1;
    margin: auto;
  }
  .para1 {
    grid-area: 2/1/3/1;
  }
  .band {
   display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50vh; 
    background-image: url(../img/logo_loopholes.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,50vh);
  }
  .img1 {
    grid-area: 1/1/2/1;
  }
  .img2 {
    grid-area: 2/1/3/1;
  }
  .img3 {
    grid-area: 3/1/4/1;
  }
  .img4{
    grid-area: 4/1/5/1;
  }
  .subscription-form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,10vh)
    padding:0px;
  }
  .form{
      display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,10vh)
  }
  .form h4 {
    grid-area: 1/1/2/2;
  }
  .form p {
    grid-area: 2/1/3/2;
    color: white;
  }
  .input-group {
    grid-area: 3/1/4/2;
  }
 
 .headermusic h1 {
  margin: 250px 0;
 }


}


/* TOUR
-------------------------------------------------------------------------------------------------------------------------MOBILE */

/* Tour Info
-------------------------------------------------------------------------MOBILE */

.tourinfo {
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    background-image: url(../img/full-bloom.png)
}
.tourdates {
    background-image: url(../img/full-bloom.png)
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

@media all and (max-width: 450px){
  header h1 {
      padding:50px;
  }

}

/* CONTACT
-------------------------------------------------------------------------------------------------------------------------MOBILE */
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Ubuntu-Bold, sans-serif;
}

/*---------------------------------------------*/

a {
    font-family: Ubuntu-Bold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/

p {
    font-family: Ubuntu-Bold;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #bdbdd3;}
input:-moz-placeholder { color: #bdbdd3;}
input::-moz-placeholder { color: #bdbdd3;}
input:-ms-input-placeholder { color: #bdbdd3;}

textarea::-webkit-input-placeholder { color: #bdbdd3;}
textarea:-moz-placeholder { color: #bdbdd3;}
textarea::-moz-placeholder { color: #bdbdd3;}
textarea:-ms-input-placeholder { color: #bdbdd3;}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*---------------------------------------------*/




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #f2f2f2;
  grid-area:1/2/1/4;
  background-image: url(../img/full-bloom.png)
}
@media all and (max-width: 450px){
  .container-contact100{
    grid-area:1/1/2/5;
  }
  .wrap-contact100{
    margin:0 50px;
  }
  .wrap-input100{
    text-align: center;
  }
}
.wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 50px 0px 160px 0px;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 49px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 31px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.input100 {
  position: relative;
  display: block;
  width: 100%;
  background: lightgrey;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: white;
  line-height: 1.2;
}


/*---------------------------------------------*/
input.input100 {
  height: 62px;
  padding: 0 35px 0 35px;
}


textarea.input100 {
  min-height: 169px;
  padding: 19px 35px 0 35px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #fff;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: transparent;
  border-radius: 31px;

  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: lightgreen;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover:before {
  background-color: green;
  width: calc(100% + 20px);
}




/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 1000;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 14px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 1100;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/* TOUR DATES
-------------------------------------------------------------------------------------------------------------------------MOBILE */
.tourdates {
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:30vh 120vh 10vh;
    background-color: #f2f2f2;
}
.tourdates h2 {
  grid-area:1/2/1/4;
  margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    grid-area:2/2/2/4;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

.tickets {
  color: lightgreen;
}



/* MUSIC
-------------------------------------------------------------------------------------------------------------------------MOBILE */

.music-video {
  display: grid;
  grid-template-columns: repeat(6,16.666%);
  grid-template-rows: 20vh 85vh 35vh 20vh ;
  background-image: url(../img/full-bloom.png)
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  grid-area: 2/2/4/6;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoWrapper1 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  grid-area: 3/2/4/4;

}
.videoWrapper1 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoWrapper2 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  grid-area: 3/4/4/6;

}
.videoWrapper2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media all and (max-width: 450px){
  header h1 {
      padding:50px;
  }
  .music-video {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:10vh 40vh 40vh 40vh 10vh;
    ;
  }

.videoWrapper{
  grid-area:2/1/3/2;
}

.videoWrapper1{
  grid-area:3/1/4/2;
}
.videoWrapper2{
  grid-area:4/1/5/2;
}



@media all and (max-width: 768px){
  header h1 { 
    padding: 50px;
    padding-top: 300px;
  }

  .music-video {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20vh 50vh 50vh 20vh;
  }
}
















